.idea/
Agenzia.iml
Deploy.sh
DeployWithParameters.sh
sources.txt
*.class
src/env.properties
agenzia.log*
logs
war
docker/.env
db_data
db
agenzia.war
docker
!docker/docker-compose.yml
!docker/docker-compose-debug.yml
!docker/Dockerfile
!docker/Makefile
tomcat
